---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostItem from "../../components/BlogPostItem.astro";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} mainClass="blog-index-main">
  <header class="blog-header">
    <div class="blog-hero">
      <h1>Blog</h1>
    </div>
  </header>

  <section class="post-list">
    <ul>
      {posts.slice(0, 2).map((post) => <BlogPostItem post={post} />)}
    </ul>

    <nav class="pagination">
      <a href="/blog/page/2">Older posts →</a>
    </nav>
  </section>
</BaseLayout>
