---
import { getCollection } from 'astro:content';
import { siteConfig } from '@config/site';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostItem from '../../components/BlogPostItem.astro';
import { date } from 'astro:schema';

const posts = await getCollection('blog', ({ data }) => {
  return data.language == 'en';
});
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const pageTitle = 'Blog';
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="blog-index-main"
>
  <header class="blog-header">
    <div class="blog-hero">
      <h1>Blog</h1>
    </div>
  </header>

  <section class="post-list">
    <ul>
      {
        posts
          .slice(0, siteConfig.blog.postsPerPage)
          .map((post) => <BlogPostItem post={post} />)
      }
    </ul>

    <nav class="pagination">
      todo: check that there are actually any older posts
      <a href="/blog/page/2">Older posts →</a>
    </nav>
  </section>
</BaseLayout>
