@use 'sass:map';
@use 'fn' as *;
@use 'vars' as *;
@use 'props';

.site-header {
  background: var(--uv-header-bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: remval(16) 0;

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    padding: remval(16);
  }
}

.logo-link {
  display: block;
  height: remval(72);
  background: var(--uv-logo-bg-color);
  order: 1;
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  color: #fff;
  font-size: remval(30);
  position: relative;
  margin-left: remval(16);

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    margin-left: 0;
  }

  span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: remval(1);
  }

  &:hover {
    background-color: var(--uv-logo-hover-bg-color);

    span {
      text-decoration: underline;
      text-underline-offset: remval(3);
    }
  }
}

.mobile-main-nav-button {
  order: 3;
  background: transparent;
  border: none;
  margin: 0 remval(16);
  padding: 0;
  position: relative;
  width: remval(44);
  height: remval(44);
  cursor: pointer;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    display: none;
  }
}

.hamburger {
  text-align: left;
}

.hamburger-box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: remval(38);
  height: remval(38);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburger-inner {
  display: block;
  position: absolute;
  top: 50%;
  height: remval(4);
  width: 100%;
  margin-top: remval(-2);
  background-color: #fff;
  border-radius: remval(4);
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: inherit;
  border-radius: remval(8);
}

.hamburger-inner::before {
  top: remval(-10);
}

.hamburger-inner::after {
  top: remval(10);
}

.hamburger.active .hamburger-inner::before {
  transform: translate3d(-10px, 3px, 0) rotate(-45deg) scale(0.6, 1);
}

.hamburger.active .hamburger-inner::after {
  transform: translate3d(-10px, -3px, 0) rotate(45deg) scale(0.6, 1);
}
