@use 'sass:map';
@use 'fn' as *;
@use 'vars' as *;
@use 'props';

.languages-container {
  position: relative;
  order: 2;
  margin-left: auto;

  @media screen and (min-width: #{map.get($breakpoints, "tablet")}) {
    flex-grow: 0;
    flex-basis: auto;
  }

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    order: 5;
    margin-left: remval(8);
  }
}

.language-flag {
  line-height: remval(24);
  width: remval(32);
  min-width: remval(32);
}

.language-name {
  display: block;
}

.show-languages-button {
  background: transparent;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 0 remval(10);
  height: remval(44);
  min-width: remval(44);
  border-radius: remval(6);
  border: none;
  cursor: pointer;

  &:hover {
    background: #0009;
  }
}

.lang-nav {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: remval(4);
  top: calc(100% + remval(10));
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ddd;

  @media screen and (min-width: #{map.get($breakpoints, "tablet")}) {
    right: 0;
    left: auto;
    transform: none;
  }

  &.show {
    display: block;
  }
}

.lang-nav-list {
  list-style: none;
  margin: 0;
  padding: remval(4) remval(12);
}

.lang-nav-list-item {
  display: block;
}

.lang-nav-link {
  display: flex;
  gap: remval(12);
  text-decoration: none;
  height: remval(44);
  line-height: remval(46);
  text-align: center;
  padding: 0;

  &:hover {
    .language-name {
      text-decoration: underline;
      text-underline-offset: remval(2);
    }
  }
}
