@use 'sass:map';
@use 'fn' as *;
@use 'vars' as *;
@use 'props';

.languages-container {
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;

  @media screen and (min-width: #{map.get($breakpoints, "tablet")}) {
    flex-grow: 0;
    flex-basis: auto;
  }
}

.show-languages-button {
  background: #222;
  color: #fff;
  display: block;
  border: none;
  margin: 0 auto;
  padding: 0 remval(16);
  height: remval(44);
  border-radius: remval(4);
  text-transform: uppercase;

  @media screen and (min-width: #{map.get($breakpoints, "tablet")}) {
    margin-left: remval(16);
  }

  &:hover {
    background: red;
  }
}

.lang-nav {
  display: none;
  position: absolute;
  background: #333;
  border-radius: remval(4);
  width: remval(100);
  top: calc(100% + remval(10));
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: #{map.get($breakpoints, "tablet")}) {
    right: 0;
    left: auto;
    transform: none;
  }

  &.show {
    display: block;
  }
}

.lang-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.lang-nav-list-item {
  display: block;
}

.lang-nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  height: remval(44);
  line-height: remval(46);
  text-align: center;
  text-transform: uppercase;

  &:hover {
    border-radius: remval(4);
    background-color: red;
    text-decoration: underline;
    text-underline-offset: remval(2);
  }
}
