@use 'sass:map';
@use 'fn' as *;
@use 'vars' as *;
@use 'props';

.main-nav {
  width: 100%;
  display: none;
  order: 4;
  margin-top: remval(16);
  margin-bottom: remval(-16);
  background-color: #0003;

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    width: auto;
    display: block;
    margin: 0 0 0 auto;
    background-color: transparent;
  }

  &.show {
    display: block;
  }
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    flex-direction: row;
  }
}

.main-nav-list-item {
  margin: 0;
  padding: 0;
}

.main-nav-link {
  display: block;
  padding: remval(16);
  color: var(--uv-main-nav-link-color);
  text-decoration: none;
  text-underline-offset: remval(2);
  text-align: center;

  @media screen and (min-width: #{map.get($breakpoints, "tablet-l")}) {
    text-align: left;
    padding: remval(12) remval(16);
  }

  &:hover {
    text-decoration: underline;
  }
}
