@use "sass:map";
@use "fn" as *;
@use "vars" as *;

:root {
  // COLORS
  --uv-primary: #3e114e;
  --uv-primary-dark: rgb(33 9 42);
  --uv-secondary: #0098a6;
  --uv-white: #fbfbfc;

  // FONTS
  --uv-font-family-dm-sans: "DM Sans", sans-serif;
  --uv-font-family-headings: "DM Mono", sans-serif;

  // GENERIC
  --uv-bg-color: var(--uv-primary);
  --uv-header-bg-color: #2d1f27;

  // HEADER
  --uv-header-position: static;

  // LOGO
  --uv-logo-bg-color: var(--uv-primary);
  --uv-logo-hover-bg-color: var(--uv-primary-dark);

  // MAIN NAV
  --uv-main-nav-link-color: var(--uv-white);

  // LANG NAV
  --uv-lang-nav-font-family: #{$dm-sans-name}; // HOMEPAGE
}
