@use 'sass:map';
@use 'fn' as *;
@use 'vars' as *;

:root {
  // COLORS
  --uv-primary: #3e114e;
  --uv-primary-dark: rgb(33 9 42);
  --uv-secondary: #0098a6;
  --uv-white: #fbfbfc;

  // GENERIC
  --uv-bg-color: var(--uv-primary);
  --uv-header-bg-color: var(--uv-secondary);

  // LOGO
  --uv-logo-bg-color: var(--uv-primary);
  --uv-logo-hover-bg-color: var(--uv-primary-dark);

  // MAIN NAV
  --uv-main-nav-link-color: #eee;
  --uv-main-nav-link-hover-bg-color: #000;

  // HOMEPAGE
}
