---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle} mainClass="contact-main">

  <div class="container">
      <h1>Contact us</h1>
    <section id="getting-started">
      <h2>How do I get in touch with the Steering Group?</h2>
      <p>Join us on the steering group by becoming a member of the Open Collective.
		To discuss the benefits of membership email us at universalviewerapp@gmail.com</p>
    <h2>How do I get in touch with community members?
</h2>
<h3>Ask a question on Slack
</h3>
<p>The quickest way to get help is via our community Slack workspace. Send an email to universalviewerapp@gmail.com to request an invite.</p>
<h3>Report a bug or suggest a feature or enhancement
</h3>
<p>If you’ve found a bug, or have an idea about an exciting new feature, take a look at open issues in the Universal Viewer Github before adding a new issue. No Github account? Come to our community call or contact us on Slack to discuss your ideas with the community.</p>
    
<h2>Join the conversation and keep up with the latest updates by connecting with the Universal Viewer on social media</h2>
  <p>
    <a href="https://bsky.app/profile/universalviewer.io"
      >Follow the UV on BlueSky</a
    >
  </p>
  <p>
    <a href="https://glammr.us/@universalviewer">Follow the UV on Mastodon</a>
  </p>
  <p>
    Join the <a href="universalviewer.slack.com">UV Slack</a>: send an email to
    universalviewerapp@gmail.com to request an invite.
  </p>
<h2>Social Media Statement</h2>
<p>The Universal Viewer (UV) social media accounts are managed by the Steering Group and exist to promote the work of the UV and associated communities, to share examples of best practice and to promote those who contribute to, and make best use of, the UV.
Any social media posts will be made in good faith, and the Steering Group will consider all requests to remove posts that are reported as causing reputational damage to the community. You are welcome to report an issue to universalviewerapp@gmail.com.</p>
</section>
</BaseLayout>
