---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = 'Events';
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="events-main"
>
  <h1>Events</h1>
  <section class="upcoming-events">
    <h2>Upcoming Events</h2>
    <div class="events-row">
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
    </div>
  </section>
  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FLondon&showPrint=0&showTitle=0&showTabs=0&showCalendars=0&src=dW5pdmVyc2Fsdmlld2VyYXBwQGdtYWlsLmNvbQ&color=%239e69af"
    style="border:solid 1px #777"
    width="800"
    height="600"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <section class="event-categories">
    <h2>Event Categories</h2>
    <div class="events-row">
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
    </div>
  </section>
  <section class="past-events">
    <h2>Past Events</h2>
    <div class="events-row">
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
      <a
        href="#"
        class="event-card"
      >
        <div class="event-placeholder"></div>
      </a>
    </div>
  </section>
</BaseLayout>
