---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <nav
    id="mainNav"
    class="navbar navbar-default navbar-fixed-top"
  >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
        >
          <span class="sr-only">Toggle navigation</span> Menu <i
            class="fa fa-bars"></i>
        </button>
        <a
          class="navbar-brand page-scroll"
          href="#page-top"
          >UV</a
        >
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1"
      >
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a
              class="page-scroll"
              href="#view"
              >View IIIF Manifest</a
            >
          </li>
          <li>
            <a
              class="page-scroll"
              href="#features"
              >Features</a
            >
          </li>
          <li>
            <a
              class="page-scroll"
              href="#showcase"
              >Showcase</a
            >
          </li>
          <li>
            <a
              class="page-scroll"
              href="#moreinfo"
              >More Info</a
            >
          </li>
          <li>
            <a
              class="page-scroll"
              href="#contact"
              >Contact</a
            >
          </li>
          <li>
            <a
              class="page-scroll"
              href="#support"
              >Support</a
            >
          </li>
          <li>
            <a href="https://uvcon.io/">UVCON</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <img
          src="/img/logo.png"
          alt="UV"
        />
        <hr class="clear" />
        <p>
          One interface for all of your content: Universal Viewer displays
          images, multimedia, documents and 3D models in an extensible and
          embeddable open-source application.
        </p>
        <a
          href="#features"
          class="btn btn-primary btn-xl page-scroll"
          >Find Out More</a
        >
      </div>
    </div>
  </header>

  <section
    class="bg-primary"
    id="view"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">View a IIIF Manifest</h2>
          <hr class="light" />
          <p>Paste the URL of a IIIF manifest here to see the UV in action!</p>
          <p>
            <input
              id="manifest"
              type="text"
              placeholder="IIIF Manifest URL"
              value=""
            />
          </p>
          <a
            id="viewManifest"
            class="btn btn-default btn-xl sr-button"
            >View</a
          >
        </div>
      </div>
    </div>
  </section>

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Features</h2>
          <hr class="primary" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-search-plus text-primary sr-icons"></i>
            <h3>Zoomable</h3>
            <p class="text-muted">
              <a href="https://openseadragon.github.io/">OpenSeadragon</a> image
              zooming using the <a href="http://iiif.io/api/image/"
                >IIIF image API</a
              >
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-share-alt text-primary sr-icons"></i>
            <h3>Embeddable</h3>
            <p class="text-muted">
              YouTube-style embedding with deep links to specific pages/zoom
              regions.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-quote-left text-primary sr-icons"></i>
            <h3>Translatable</h3>
            <p class="text-muted">
              Internationalised UI supporting English, Welsh, Swedish and more.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-wrench text-primary sr-icons"></i>
            <h3>Configurable</h3>
            <p class="text-muted">
              The UV is highly configurable with an array of <a
                href="https://github.com/UniversalViewer/universalviewer/blob/dev/manual/CONFIG.md"
                >customisable settings</a
              >.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-plug text-primary sr-icons"></i>
            <h3>Extensible</h3>
            <p class="text-muted">
              Supports 3D, audio, video, and pdf viewing experiences.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-search text-primary sr-icons"></i>
            <h3>Searchable</h3>
            <p class="text-muted">
              Supports <a href="http://iiif.io/api/search/"
                >search and autocomplete</a
              > service integration with overlaid search results.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="feature-box">
            <i class="fa fa-4x fa-lock text-primary sr-icons"></i>
            <h3>Securable</h3>
            <p class="text-muted">
              The UV supports the <a href="http://iiif.io/api/auth/"
                >IIIF Auth API</a
              >, so your content can be password protected.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="no-padding"
    id="showcase"
  >
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a
            href="https://digital.library.villanova.edu/Item/vudl:92879"
            data-manifest="https://digital.library.villanova.edu/Item/vudl:92879/Manifest"
            class="showcase-box"
          >
            <img
              src="/img/showcase/villanova.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">
                  Villanova University: Falvey Memorial Library
                </div>
                <div class="project-name">
                  Portrait gallery of pugilists of America and their
                  contemporaries
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            href="https://viewer.library.wales/4389767"
            data-manifest="https://damsssl.llgc.org.uk/iiif/2.0/4389767/manifest.json"
            class="showcase-box"
          >
            <img
              src="/img/showcase/nlw.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">
                  National Library of Wales
                </div>
                <div class="project-name">
                  Cardiganshire Constabulary register of criminals
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            href="https://iiif.bl.uk/uv/#?manifest=https://bl.digirati.io/manifests/ark:/81055/man_10000006.0x000001"
            data-manifest="https://bl.digirati.io/manifests/ark:/81055/man_10000006.0x000001"
            class="showcase-box"
          >
            <img
              src="/img/showcase/bl.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">
                  The British Library
                </div>
                <div class="project-name">Lindisfarne Gospels</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            href="https://d.lib.ncsu.edu/collections/catalog/nubian-message-1992-11-30"
            data-manifest="https://d.lib.ncsu.edu/collections/catalog/nubian-message-1992-11-30/manifest"
            class="showcase-box"
          >
            <img
              src="/img/showcase/ncsu.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">NCSU Libraries</div>
                <div class="project-name">The Nubian Message</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            href="http://iiif.bodleian.ox.ac.uk/iiif/viewer/60834383-7146-41ab-bfe1-48ee97bc04be"
            data-manifest="http://iiif.bodleian.ox.ac.uk/iiif/manifest/60834383-7146-41ab-bfe1-48ee97bc04be.json"
            class="showcase-box"
          >
            <img
              src="/img/showcase/bodleian.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">
                  Bodleian Libraries, University of Oxford
                </div>
                <div class="project-name">MS. Bodl. 264</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a
            href="https://sok.riksarkivet.se/bildvisning/R0000004_00001?viewer=UV"
            data-manifest="https://iiif.riksarkivet.se/arkis!R0000004/manifest"
            class="showcase-box"
          >
            <img
              src="/img/showcase/riksarkivet.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="showcase-box-caption">
              <div class="showcase-box-caption-content">
                <div class="project-category text-faded">
                  Riksarkivet (The Swedish National Archives)
                </div>
                <div class="project-name">
                  Originaltraktater med främmande makter (traktater)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>-->

  <section id="moreinfo">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">More Info</h2>
          <hr class="primary" />
          <p>
            <a
              href="https://github.com/UniversalViewer/universalviewer/wiki/About"
              >About the UV</a
            >
            <span class="explanatory"
              >The wiki has information about the origins of the UV and
              tutorials to help you get started</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Get In Touch</h2>
          <hr class="primary" />
          <h4>Join the UV Slack</h4>
          <span
            class="explanatory"
            style="margin-top:10px;margin-bottom:20px;"
          >
            Send an email to
            <a
              href="mailto:universalviewerapp@gmail.com?subject=Slack Invite Request"
              style="display:inline-block;padding:0 4px;"
            >
              <strong> universalviewerapp@gmail.com </strong>
            </a>
            to request an invite.
          </span>
          <!-- <p>
                        <a href="https://groups.google.com/forum/#!forum/universalviewer">Join the UV Google Group</a>
                        <span class="explanatory">A good place to ask questions if you are just trying out the UV</span>
                    </p> -->
          <p>
            <a href="https://bsky.app/profile/universalviewer.io"
              >Follow the UV on Bluesky</a
            >
            <a href="https://glammr.us/@universalviewer"
              >Follow the UV on Mastodon</a
            >
            <span class="explanatory"
              >A good way to keep informed of notable developments</span
            >
          </p>
          <p>
            <a href="mailto:universalviewerapp@gmail.com"
              >Or email us at universalviewerapp@gmail.com</a
            >
            <span class="explanatory">It's not fancy but it works!</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="support">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Support the UV</h2>
          <hr class="primary" />
          <p>
            <a href="https://opencollective.com/universalviewer"
              >Make a contribution on Open Collective</a
            >
            <span class="explanatory"
              >This helps us to fund community support and bug fixes; sponsors
              are invited to become <a
                style="display:inline"
                href="https://github.com/UniversalViewer/universalviewer/wiki/Steering-Group"
                >Steering Group</a
              > members</span
            >
          </p>
          <p>
            <a href="https://github.com/universalviewer/universalviewer"
              >Fork the UV on Github</a
            >
            <span class="explanatory">We &hearts; pull requests</span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- jQuery -->
  <script
    is:inline
    src="/js/jquery.min.js"
  ></script>

  <!-- Bootstrap Core JavaScript -->
  <script
    is:inline
    src="/js/bootstrap.min.js"
  ></script>

  <!-- Plugin JavaScript -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
  ></script>
  <script
    is:inline
    src="/js/scrollreveal.min.js"
  ></script>
  <script
    is:inline
    src="/js/jquery.magnific-popup.min.js"
  ></script>

  <!-- Theme JavaScript -->
  <script
    is:inline
    type="text/javascript"
    src="/js/utils.js"
  ></script>
  <script
    is:inline
    src="/js/index.min.js"
  ></script>

  <script>
    var _gaq: any = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47890586-2']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src =
        ('https:' == document.location.protocol
          ? 'https://ssl'
          : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode?.insertBefore(ga, s);
    })();
  </script>
</Layout>
