---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = 'Policy';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Contributions</h2>
  <p>
    The Universal Viewer community welcomes contributions from anyone. The
    Universal Viewer Steering Group reviews contributions and is responsible for
    determining when work is ready to be merged and released. Our
    <a
      href="https://github.com/UniversalViewer/universalviewer/blob/dev/CONTRIBUTING.md"
      >contribution guide</a
    >
    gives detailed steps for contributors to follow, and contributors are welcome
    to ask any questions relating to this process via the <a
      href="https://universalviewer.slack.com">Universal Viewer Slack channel</a
    >.
  </p>
  <h2>Privacy</h2>
  <p>
    universalviewer.io does not collect, store, or process any personal data. We
    do not use cookies, user accounts, tracking technologies, or analytics that
    identify individuals. The service operates without collecting user
    information. Our website may contain links to third-party websites. We are
    not responsible for the privacy practices of those sites, and we encourage
    you to review their privacy policies.
  </p>
  <h2>Social Media Statement</h2>
  <p>
    The Universal Viewer (UV) social media accounts are managed by the Steering
    Group and exist to promote the work of the UV and associated communities, to
    share examples of best practice and to promote those who contribute to, and
    make best use of, the UV. Any social media posts will be made in good faith,
    and the Steering Group will consider all requests to remove posts that are
    reported as causing reputational damage to the community. You are welcome to
    report an issue to <a href="mailto:universalviewerapp@gmail.com"
      >universalviewerapp@gmail.com</a
    >.
  </p>
</BaseLayout>
