---
import BaseLayout from '@layouts/BaseLayout.astro';
import EventsCalendar from '@components/EventsCalendar.astro';
const pageTitle = 'Digwyddiadau';
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="events-main"
>
  <h1>{pageTitle}</h1>
  <EventsCalendar />
</BaseLayout>
