---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from '@i18n/utils';
import type { Lang } from '@i18n/ui';

const locale = Astro.currentLocale as Lang;

const t = useTranslations(locale);

const policyUrl = getRelativeLocaleUrl(locale, 'policy');
const contactUrl = getRelativeLocaleUrl(locale, 'contact');
const accessibilityUrl = getRelativeLocaleUrl(locale, 'accessibility');
const roadmapUrl = getRelativeLocaleUrl(locale, 'roadmap');
---

<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <h2>Universal Viewer</h2>
      <p>Logo</p>
    </div>

    <div class="footer-links">
      <h3>Links</h3>
      <ul>
        <li>
          <a href={policyUrl}>Policies</a>
        </li>
        <li>
          <a href={contactUrl}>Contact Us</a>
        </li>
        <li>
          <a href={accessibilityUrl}>Accessibility</a>
        </li>
        <li>
          <a href={roadmapUrl}>Roadmap & Strategy</a>
        </li>
      </ul>
    </div>

    <div class="footer-social">
      <h3>Social</h3>
      <ul>
        <li>
          <a
            href="https://github.com/universalviewer"
            target="_blank"
            rel="noopener"
            >GitHub</a
          >
        </li>
        <li>
          <a
            href="https://bsky.app/profile/universalviewer.io"
            target="_blank"
            rel="noopener"
            >BlueSky</a
          >
        </li>
        <li>
          <a
            href="https://glammr.us/@universalviewer"
            target="_blank"
            rel="noopener"
            >Mastodon</a
          >
        </li>
        <li>
          <a
            href="https://universalviewer.slack.com"
            target="_blank"
            rel="noopener"
            >Slack</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
