---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const locale = Astro.currentLocale;
const urlPrefix = locale === 'en' ? '' : `/${locale}`;
const currentPath = Astro.url.pathname;
const href = (p: string) => `${urlPrefix}${p}`;
const currentPathWithoutLocale = currentPath.replace(urlPrefix, '') || '/';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <h2>Universal Viewer</h2>
      <p>Logo</p>
    </div>

    <div class="footer-links">
      <h3>Links</h3>
      <ul>
        <li>
          <a href={href('/policy')}>Policies</a>
        </li>
        <li>
          <a href={href('/contact')}>Contact Us</a>
        </li>
        <li>
          <a href={href('/accessibility')}>Accessibility</a>
        </li>
        <li>
          <a href={href('/roadmap')}>Roadmap & Strategy</a>
        </li>
      </ul>
    </div>

    <div class="footer-social">
      <h3>Social</h3>
      <ul>
        <li>
          <a
            href="https://github.com/universalviewer"
            target="_blank"
            rel="noopener"
            >GitHub</a
          >
        </li>
        <li>
          <a
            href="https://bsky.app/profile/universalviewer.io"
            target="_blank"
            rel="noopener"
            >BlueSky</a
          >
        </li>
        <li>
          <a
            href="https://glammr.us/@universalviewer"
            target="_blank"
            rel="noopener"
            >Mastodon</a
          >
        </li>
        <li>
          <a
            href="https://universalviewer.slack.com"
            target="_blank"
            rel="noopener"
            >Slack</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
