---
import { useTranslations } from '@i18n/utils';
import type { Lang } from '@i18n/ui';

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const urlPrefix = locale === 'en' ? '' : `/${locale}`;
const href = (p: string) => `${urlPrefix}${p}`;
---

<nav
  id="mainNav"
  class="main-nav"
>
  <ul class="main-nav-list">
    <li class="main-nav-list-item">
      <a
        href={href('/')}
        class="main-nav-link"
        >{t('nav.home')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={href('/demo')}
        class="main-nav-link"
        >{t('nav.demo')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={href('/events')}
        class="main-nav-link"
        >{t('nav.events')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={href('/docs')}
        class="main-nav-link"
        >{t('nav.documentation')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={href('/blog')}
        class="main-nav-link"
        >{t('nav.blog')}</a
      >
    </li>
    <li class="main-nav-list-item">
      <a
        href={href('/community')}
        class="main-nav-link"
        >{t('nav.community')}</a
      >
    </li>
  </ul>
</nav>
