.blog-post-main {
  article {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;

    header {
      margin-bottom: 1.25rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);;

      h1 {
        margin: 0 0 0.5rem;
      }

      .post-date {
        margin: 0;
        font-size: 0.9rem;
        opacity: 0.7;
      }

      p:has(.post-author) {
        margin: 0;
        text-align: right;
    }

      .post-author {
        font-size: 0.9rem;
        font-style: italic;
      }
    }

    line-height: 1.7;

    h2, h3, h4 {
      margin: 2rem 0;
    }

    p {
      margin: 0 0 1.25rem;
    }

    a {
      text-decoration: underline;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  
  .post-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);;
    font-size: 0.9rem;

    .prev-post,
    .next-post {
      max-width: 45%;
    }

    .next-post {
      margin-left: auto;
      text-align: right;
    }
  }
  }
}