<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="One interface for all of your content: Universal Viewer displays images, multimedia, documents and 3D models in an extensible and embeddable open-source application."
    />
    <meta
      name="keywords"
      content="IIIF,Viewer,Image,Video,Audio,PDF,3D,IPFS"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="icon"
      href="favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Universal Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom Fonts -->
    <link
      href="/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Plugin CSS -->
    <link
      href="/css/magnific-popup.css"
      rel="stylesheet"
    />

    <!-- Theme CSS -->
    <link
      href="/css/styles.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <slot />
  </body>
</html>
